<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>{Reprograma}</title>
    <style>
      html,
      body {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Rota não encontrada :(</h1>
      <img
        src="images/error404.png"
        alt="imagem do numero 404 em construcao"
        height="536"
        style="vertical-align: center"
      />
    </main>
  </body>
</html>
